tr{
  border-bottom: solid;
  border-width: 1px;
  border-color: black;
}
td, th{
  text-align: left;
}
th{
  background-color: 000;
  color: white;
}
table, tr, td, th, tbody,tfoot{
  page-break-inside: auto !important;
}
