<h1>Listado De Productos <small>(Articulos) </small></h1>
<table class="table">
  <thead>
    <tr>
      <th style="width: 200px;">Título</th>
      <th style="width: 200px;">Precio</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do | product | %>
      <tr>
        <td> <%= product.title %> </td>
        <td> <%= product.pricing %> </td>
      </tr>
    <%end%>
  </tbody>
</table>
